<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv="content-type"/>
  </head>
  <body>
    <h1>Welcome to 99 CATS, <%= @user.username %>! WE LOVE YOU!</h1>
    <p>Read this!</p>
    <p>And this!</p>
    <p>Click here:  <%= @url %></p>
  </body>
</html>
